twisted[tls]
tensorflow==2.13.0
tensorflow-metal==1.0.0; sys_platform == 'darwin' and platform_machine == 'arm64'
numpy
pyproj
shapely
firebase
firebase_admin
vk
tensorflow-hub
Pillow
matplotlib
psycopg2-binary
geopy
pytest
redis
gmplot
